extends layout

block append head
  title= "奇秀门童"

block content
  div#app

  input#init-data(type='hidden' value=JSON.stringify(data))

  script.
    window.Mentong = window.Mentong || {};
    window.Mentong.data = JSON.parse(document.getElementById('init-data').value);

  script(src='/javascripts/main.js')